<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - My ASP.NET App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h2>My ASP.NET App</h2>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
